<h1> Enter item to purchase </h1>
<form action='/checkout' method="post">
  <label for="item">Item To Buy :</label>
  <input type="text" id="item" name="item"><br>

  <button id='submit' type="submit">

</form>
